<header class="site-header">
	<div class="col-sm-2 col-md-2 col-lg-2 logo">
		in
	</div>
	<div class="col-sm-8 col-md-8 col-lg-5">
		<label for="search">
			<input type="text" class="search-input">
			<button type="submit" class="search-submit-2">Search</button>
			<button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
		</label>
	</div>
	<div class="col-lg-4">
		<ul class="menu-content-lg">
			<li>Jobs</li>
			<li>Messages</li>
			<li>Groups</li>
			<!-- <li>Sign Out</li> -->
		</ul>
	</div>
	<div class="col-sm-2 col-md-2 col-lg-1">
		<div class="profile" id="menu-toggle">
			<div class="prof-pic"></div>
			<span>Sylvester Stallone</span><br>
			<span>Actor</span>
		</div>
		<ul class="menu-content">
			<li>Jobs</li>
			<li>Messages</li>
			<li>Groups</li>
		</ul>
	</div>
</header>
